@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    @apply bg-slate-800;
    @apply text-slate-300;
    white-space: pre-wrap;
}

* {
  box-sizing: border-box;
}

/* custom styles */
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
a {
  @apply text-blue-600 underline;
  text-decoration: none;
}

tbody tr td:last-child, tbody tr td:nth-child(3) {
  text-align: center;
}


